:root {
    --secondary-color: teal;
    --accent1-color: white;
    --accent2-color: white;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: darkblue;
    padding: 1rem;
}

header img {
    width: 140px;
    height: auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 100%;
}

.hero {
    position: relative;
    background-color: var(--secondary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
    /*white text - make sure there is enough contrast with the background-color*/
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    bottom: 320px;
    left: -16px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

/* .five {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-content: space-evenly;
}

.five h2 {
    grid-column: 1/6;
    justify-content: center;
} */

figure {
    width: 100px;
    height: auto;
}

footer {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}